body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.profile-container {
    background-color: #ffffff;
    padding: 90px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-avatar {
    flex-shrink: 0;
    margin-right: 20px;
}

.avatar-icon {
    width: 250px;
    height: 250px;
    background-color: #e0e0e0;
    border-radius: 0%; /* квадратная форма */
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-icon::after {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    border: 5px solid #ffffff;
    background-color: transparent;
}

.profile-info {
    flex-grow: 1;
    text-align: left;
}

.info-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-label {
    font-size: 32px;
    font-weight: bold;
    color: #666666;
    margin-right: 10px;
}

.info-text {
    font-size: 28px;
    color: #333333;
}

.tags-section {
    margin-top: 20px;
    text-align: center;
}

.tags-section p {
    font-size: 24px;
    color: #666666;
    margin-bottom: 10px;
    text-align: left;
}

.tags-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    display: inline-block;
    padding: 8px 12px;
    font-size: 24px;
    border-radius: 20px;
    color: #ffffff;
    text-transform: lowercase;
}

.tag-sport {
    background-color: #ffe4e6;
    color: #5b5b5b;
}

.tag-science {
    background-color: #fff3b0;
    color: #5b5b5b;
}

.tag-volunteering {
    background-color: #e4dfff;
    color: #5b5b5b;
}
