body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.categories-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 450px; /* увеличено для размещения кнопки */
}

.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.categories-title {
    font-size: 16px;
    color: #666666;
    margin-bottom: 15px;
}

.categories-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tag {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
    color: #666666;
    background-color: #e0e0e0;
    cursor: pointer;
    text-transform: lowercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tag:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Стили для кнопки */
.submit-button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #274193;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2980b9;
}
