{% load static %}
<link rel="stylesheet" href='{% static "css/header.css" %}'>

<header class="header">
        <div class="header-logo">
            <a href="{% url 'main:index' %}" class="logo-link">
                <img src='{% static "imgs/stankin.png" %}' alt="Logo" />
            </a>
        </div>
        <div class="header-content">
            <div class="search_block">
                <form>
                  <input type="search" name="text" class="search" placeholder="Поиск">
                  <input type="submit" name="submit" class="submit" value="">
                </form>
            </div>
            <div class="header-user">
                <a href="{% url 'main:profile' %}" class="user-link">
                    <img src='{% static "imgs/profile.png" %}' alt="User" />
                </a>
            </div>
        </div>
    </header>

{% block content %} {% endblock %}
