<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница расписания</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <a href="https://original-website.com" class="logo-link">
                <img src="../image/stankin.png" alt="Logo" />
            </a>
        </div>
        <div class="header-content">
            <div class="search_block">
                <form> 
                  <input type="search" name="text" class="search" placeholder="Поиск">
                  <input type="submit" name="submit" class="submit" value="">
                </form>
            </div>
            <div class="header-user">
                <a href="https://profile-page.com" class="user-link">
                    <img src="../image/profile.png" alt="User" />
                </a>
            </div>
        </div>
    </header>
</body>
</html>
