{% load static %}
<link rel="stylesheet" href='{% static "css/header.css" %}'>

<header class="header">
        <div class="header-logo">
            <a href="https://original-website.com" class="logo-link">
                <img src='{% static "imgs/stankin.png" %}' alt="Logo" />
            </a>
        </div>
        <div class="header-content">
            <div class="search_block">
                <form>
                  <input type="search" name="text" class="search" placeholder="Поиск">
                  <input type="submit" name="submit" class="submit" value="">
                </form>
            </div>
            <div class="header-user">
                <a href="https://profile-page.com" class="user-link">
                    <img src='{% static "imgs/profile.png" %}' alt="User" />
                </a>
            </div>
        </div>
    </header>

{% block content %} {% endblock %}

<link rel="stylesheet" href='{% static "css/footer.css" %}'>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <img src='{% static "imgs/stankin.png" %}' alt="Логотип МГТУ Станкин" class="footer-logo">
                <p>Министерство науки и высшего образования Российской Федерации</p>
            </div>
            <div class="footer-section">
                <h4>МГТУ СТАНКИН</h4>
                <p>Россия, Москва</p>
                <p>Адрес приёмной комиссии:</p>
                <p>127055, Вадковский пер., 1</p>
                <p>Email приёмной комиссии: <a href="mailto:abit@stankin.ru">abit@stankin.ru</a></p>
                <p>Телефон: +7 499 973 38 49</p>
            </div>
            <div class="footer-section">
                <h4>ПОСТУПАЮЩИМ</h4>
                <ul>
                    <li>Бакалавриат</li>
                    <li>Специалитет</li>
                    <li>Магистратура</li>
                    <li>Аспирантура</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>БЕЗОПАСНОСТЬ</h4>
                <ul>
                    <li><a href="#">Официальный сайт Министерства науки и высшего образования РФ</a></li>
                    <li><a href="#">Официальный сайт Федеральной службы по надзору в сфере образования и науки</a></li>
                    <li><a href="#">Федеральный портал "Российское образование"</a></li>
                    <li><a href="#">Информационная система "Единое окно доступа к образовательным ресурсам"</a></li>
                    <li><a href="#">Единая коллекция цифровых образовательных ресурсов</a></li>
                    <li><a href="#">Противодействие коррупции</a></li>
                </ul>
            </div>
        </div>
    </footer>
