<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор категорий</title>
    <link rel="stylesheet" href="tag.css">
</head>
<body>
    <div class="categories-container">
        <img src="../image/stankin.png" alt="Логотип" class="logo">
        <p class="categories-title">Выбери интересующие категории:</p>
        <div class="categories-tags">
            <span class="tag" data-color="#ffe4e6" data-text-color="#d9265a">#спорт</span>
            <span class="tag" data-color="#fff3b0" data-text-color="#c89800">#наука</span>
            <span class="tag" data-color="#d8efff" data-text-color="#3498db">#проф</span>
            <span class="tag" data-color="#e4dfff" data-text-color="#7a6fbe">#волонтерство</span>
            <span class="tag" data-color="#d8f7db" data-text-color="#2ecc71">#абитуриент</span>
            <span class="tag" data-color="#ffeed1" data-text-color="#e67e22">#вуц</span>
        </div>
        <!-- Кнопка перехода -->
        <button class="submit-button" onclick="window.location.href = 'main_page.html';">Применить</button>
    </div>

    <script src="tag.js"></script>
</body>
</html>
